#!/bin/bash

# iStat
/usr/bin/defaults write com.bjango.istatmenus 'serial4' -string 'haha-nope'

e_success "iStat licence"

# Sublime Text 2
/bin/cat > "$HOME/Library/Application Support/Sublime Text 2/Settings/License.sublime_license" <<-EOF
----- BEGIN LICENSE -----
LUL
------ END LICENSE ------
EOF

e_success "Sublime Text 2 licence"
