last_homebrew_taps:
{% for item in last_homebrew_taps.stdout_lines %}
  - {{ item }}
{% endfor %}

last_homebrew_formulae:
{% for item in last_homebrew_formulae.stdout_lines %}
  - {{ item }}
{% endfor %}

last_homebrew_casks:
{% for item in last_homebrew_casks.stdout_lines %}
  - {{ item }}
{% endfor %}

last_npm_packages:
{% for item in last_npm_packages.stdout_lines %}
  - {{ item }}
{% endfor %}

last_ruby_version: "{{ current_ruby_version.stdout }}"
