{#- macros ***************************************************************** -#}

{% macro display_list(list_items, list_type) %}
{% for item in list_items %}
{# only re-write domain/settings if the domain is not the same as the last iteration #}
{% if loop.first or list_items[loop.index0-1].item[0].domain != item.item[0].domain %}
  - domain: "{{ item.item[0].domain }}"
    settings:
{% endif %}
{% if list_type == "defaults" %}
      - { key: "{{ item.item[1].key }}", type: "{{ item.item[1].type }}", value: "{{ item.stdout | default('did_not_exist', true) | e }}" }
{% elif list_type == "plistbuddy" %}
      - { name: "{{ item.item[1].name }}", value: "{{ item.stdout | default('did_not_exist', true) }}" }
{% endif %}
{% endfor %}
{% endmacro -%}

{% macro display_spctl_status(status) %}
{% if status == "assessments enabled" -%}
  "enable"
{% elif status == "assessments disabled" -%}
  "disable"
{% else -%}
  "ERROR: status output has changed! check status command"
{% endif %}
{% endmacro -%}

{% macro display_computer_names(names) %}
{% for item in names %}
  - { name: "{{ item.item.name }}", value: "{{ item.stdout }}" }
{% endfor %}
{% endmacro -%}

{% macro display_power_settings(list_items) %}
{% for item in list_items %}
  # {{ item }}
{% endfor %}
{% endmacro -%}

{#- /macros **************************************************************** -#}
{#- template *************************************************************** -#}

last_defaults:
{{ display_list(last_osx_defaults_user.results, "defaults") }}
last_defaults_global:
{{ display_list(last_osx_defaults_sudo.results, "defaults") }}
last_defaults_plistbuddy:
{{ display_list(last_osx_defaults_plistbuddy.results, "plistbuddy") }}
last_spctl_status: {{ display_spctl_status(last_osx_spctl_status.stdout) }}
last_computer_names:
{{ display_computer_names(last_osx_computer_names.results) }}
# last_power_settings_raw:
{{ display_power_settings(last_osx_power_settings.stdout_lines) }}

{#- /template ************************************************************** -#}
